body{
    background-image: linear-gradient(to left top, #fec16a, #ffaa6a, #ff9372, #ff7e7f, #f66d8f); 
 }

  .bg-app{
    padding: 10px;
  }
  
  .card-header:first-child {
    border-radius: 1rem;
    border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  }
  
  .card{
    border-radius: 1rem;
    border: 0px solid #d45f5f9d;
  }

  .btn{
    margin-bottom : 20px;
  }